<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/fx.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/js/fx.js}"></script>


</head>
<body>
<div id="main">
    <h1 class="title">じどりのFX</h1>

    <div class="margin-left10" style="display:flex">
        <input type="text" id="fromDate"><span>〜</span><input type="text" id="toDate">
        <button id="searchBtn">search</button>
        <button id="addBtn">add</button>
        <button id="deleteBtn">delete</button>
    </div>

    <div class="margin-left10" style="margin-top: 10px;">
        <span style="">損益合計</span>
        <span>¥0</span>
        <span>$0</span>
    </div>

    <div id="trade-list-box">
    </div>
</div>

</body>
</html>